In [1]:
import pandas as pd

## Series

In [4]:
mydataset = {'name' : ["Bugra", "Bertug", "Altug"], 'number' : [1, 2, 3]}
myvar = pd.DataFrame(mydataset)
print(myvar)

     name  number
0   Bugra       1
1  Bertug       2
2   Altug       3

In [5]:
print(type(mydataset))

<class 'dict'>

In [12]:
a = [3, 4, 5, 6]
myvar1 = pd.Series(a)
print(myvar1)

0    3
1    4
2    5
3    6
dtype: int64

In [13]:
print(myvar1[1])

4

In [18]:
myvar1 = pd.Series(a, index = ["x", "y", "z", "t"])
print(myvar1)

x    3
y    4
z    5
t    6
dtype: int64

In [19]:
print(myvar1["x"])

3

In [24]:
calories = {"day1" : 420, "day2" : 220, "day3" : 250}
myvar2 = pd.Series(calories)
print(myvar2)

day1    420
day2    220
day3    250
dtype: int64

## DataFrames

In [25]:
data = {"calories": [300, 310, 320], "duration": [250, 260, 270]}
myvar3 = pd.DataFrame(data)
print(myvar3)

   calories  duration
0       300       250
1       310       260
2       320       270

In [29]:
myvar3 = pd.DataFrame(data, index = ["x", "y", "z"])
print(myvar3)

   calories  duration
x       300       250
y       310       260
z       320       270

In [32]:
print(myvar3.loc["x"])

calories    300
duration    250
Name: x, dtype: int64

In [42]:
print(myvar3.loc[["x", "y"]])

   calories  duration
x       300       250
y       310       260

In [46]:
print(myvar3.to_string)

<bound method DataFrame.to_string of    calories  duration
x       300       250
y       310       260
z       320       270>

## Read CSV

In [64]:
df = pd.read_csv('test_excel.csv')
print(df.to_string())

   1;1;1;1;1;1;1
0  2;2;2;2;2;2;2
1  4;4;4;4;4;4;4
2  4;4;4;4;4;4;4
3  5;5;5;5;5;5;5
4  6;6;6;6;6;6;6
5  7;7;7;7;7;7;7

In [10]:
print(df)

   33  00;3  00;1 00;1.1 00;1.2 00;1.3 00;1.4   00
0   2  00;2  00;2   00;2   00;2   00;2   00;2  0.0
1   4  00;4  00;4   00;4   00;4   00;4   00;4  0.0
2   2  00;4  00;4   00;4   00;4  00;;4     00  NaN
3   5  00;5  00;5   00;5   00;7   00;5   00;5  0.0
4   6  00;6  00;6   00;6  00;;6   00;6     00  NaN
5   7  00;7  00;7   00;7  00;;7   00;7     00  NaN

In [66]:
print(pd.options.display.max_rows)

60

In [9]:
pd.options.display.max_rows = 9999
df = pd.read_csv('test_excel.csv')
print(df)

   33  00;3  00;1 00;1.1 00;1.2 00;1.3 00;1.4   00
0   2  00;2  00;2   00;2   00;2   00;2   00;2  0.0
1   4  00;4  00;4   00;4   00;4   00;4   00;4  0.0
2   2  00;4  00;4   00;4   00;4  00;;4     00  NaN
3   5  00;5  00;5   00;5   00;7   00;5   00;5  0.0
4   6  00;6  00;6   00;6  00;;6   00;6     00  NaN
5   7  00;7  00;7   00;7  00;;7   00;7     00  NaN

## Data Cleaning

##### Remove Rows

In [14]:
df = pd.read_csv('DataCleaning_dataset.csv')
new_df = df.dropna()
print(new_df)

   Duration;Date  ;Pulse ;Maxpulse;Calories
0             60;'2020/12/01';110;130;409.1
1             60;'2020/12/02';117;145;479.0
2             60;'2020/12/03';103;135;340.0
3             45;'2020/12/04';109;175;282.4
4             45;'2020/12/05';117;148;406.0
5             60;'2020/12/06';102;127;300.0
6             60;'2020/12/07';110;136;374.0
7            450;'2020/12/08';104;134;253.3
8             30;'2020/12/09';109;133;195.1
9              60;'2020/12/10';98;124;269.0
10            60;'2020/12/11';103;147;329.3
11            60;'2020/12/12';100;120;250.7
12            60;'2020/12/12';100;120;250.7
13            60;'2020/12/13';106;128;345.3
14            60;'2020/12/14';104;132;379.3
15             60;'2020/12/15';98;123;275.0
16             60;'2020/12/16';98;120;215.2
17            60;'2020/12/17';100;120;300.0
18                  45;'2020/12/18';90;112;
19            60;'2020/12/19';103;123;323.0
20             45;'2020/12/20';97;125;243.0
21            60;'2020/12/21';108;131;364.2
22                        45;;100;119;282.0
23            60;'2020/12/23';130;101;300.0
24            45;'2020/12/24';105;132;246.0
25            60;'2020/12/25';102;126;334.5
26              60;26.12.2020;100;120;250.0
27             60;'2020/12/27';92;118;241.0
28                 60;'2020/12/28';103;132;
29            60;'2020/12/29';100;132;280.0
30            60;'2020/12/30';102;129;380.3
31             60;'2020/12/31';92;115;243.0